body{
    
    color: white;
    background-color: #e88cd4;
    font-family: Arial, Helvetica, sans-serif;
}
/* p{
    font-style: italic;
    font-size: xx-large;
    font-weight: bolder;
     text-align: center; 
} */
img{
    width: 400px;
    height: 400px;
    border-radius: 500px; 
}
video{
    height: 400px;
    
}
ol{
    list-style-type: lower-roman;
}
ul{
    list-style-type: lower-greek;
}
table,th,td{
    border:1px solid white;
    border-collapse: collapse; 
}

h1{
    padding: 50px;
    border:20px solid goldenrod;
    margin: 50px;
}
button:hover{
    background-color: turquoise;
    border-radius:5px;
}
button{
    padding:10px;
    margin:20px;
}
nav{
    display:flex;
    flex-direction: row;
    gap:100px;
}
#p1{
    font-size:normal;
    font-weight: bold;
    font-size:x-large
}
#p2{
    font-style:italic;
    font-size:x-large;
}
.pclass{
    font-size:x-large;
}
.grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
}
/* #one{
    grid-row: 1/2;
}
#two{
    grid-row: 1/2;
}
#three{
    grid-row: 1/2;
}
#four{
    grid-row: 2/3;
}
#five{
    grid-row: 2/3;
}
#six{
    grid-row: 2/3;
} */
.festivals{
    display:grid;
    grid-template-columns: 50% 50%;
}
/* #festival1{
    grid-row: 1/2;
}
#festival2{
    grid-row: 1/2;
}
#festival3{
    grid-row: 2/3;
}
#festival4{
    grid-row: 2/3;
} */